<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="right-content" id="games-list"> 
                                    <!-- 星期 一 -->
    <ul class="game-table right-silde-none right-silde-active">
        <li class="p-title">
        <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
            </li>
            
            <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">今日暂无赛事</span>
            <span>&nbsp;</span>
        </li>           
            <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>           
            <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
    </ul>
    <!-- 星期 二 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        </li>
        <li>
            <span class="contest-time">6:00</span>
            <span class="contest"><a href="http://s.163.com/13/0918/19/9930GLMU00314QVP_10.html">WCS美洲：Top登场</A></span>
            <span><a href="http://s.163.com/13/0918/19/9930GLMU00314QVP_2.html">笨哥/</a><a href="http://s.163.com/13/0918/19/9930GLMU00314QVP_3.html">老男孩</a></span>
        </li>
        <li>
            <span class="contest-time">12:00</span>
            <span class="contest"><a href="http://s.163.com/13/0902/20/97PUK9FI00314Q9P_11.html">GSTL:ST vs FXO</A></span>
            <span><a href="http://s.163.com/13/0902/20/97PUK9FI00314Q9P_2.html">MarsTV</a></span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
        
    </ul>
    <!-- 星期 三 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        </li>
        <li>
            <span class="contest-time">6:00</span>
            <span class="contest"><a href="http://s.163.com/13/0918/19/9930GLMU00314QVP_11.html">WCS美洲Premier级32强H组</a></span>
            <span><a href="http://wcs.battle.net/sc2/en">官方</a></span>
        </li>
        <li>
            <span class="contest-time">12:00</span>
            <span class="contest"><a href="http://s.163.com/13/0930/12/9A17BH3F00314QVO_5.html">GSL A级：Life登场</a></span>
            <span><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_2.html">MarsTV/</a><a href="http://www.twitch.tv/wcs_gsl">官方英文</A></span>
        </li>   
        <li>
            <span class="contest-time">17:00</span>
            <span class="contest"><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_17.html">GSL S级8强首日</a></span>
            <span><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_2.html">MarsTV/</a><a href="http://www.twitch.tv/wcs_gsl">官方英文</A></span>
        </li>   <li>
            <span class="contest-time">直播中</span>
            <span class="contest"><a href="http://yy.com/#90163/1910429968">ZOO.How神族第一视角</a></span>
            <span><a href="http://yy.com/#90163/1910429968">官网YY</a></span>
        </li>
    </ul>
    <!-- 星期 四 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        </li>
        <li>
            <span class="contest-time">17:00</span>
            <span class="contest"><a href="http://s.163.com/13/0902/20/97PUK9FI00314Q9P_12.html">GSTL：AZUBU vs SouL</a></span>
            <span><a href="http://s.163.com/13/0902/20/97PUK9FI00314Q9P_2.html">MarsTV</a></span>
        </li>   <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
    </ul>
    <!-- 星期 五 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        </li>
        <li>
            <span class="contest-time">12:00</span>
            <span class="contest"><a href="http://s.163.com/13/0930/12/9A17BH3F00314QVO_6.html">GSL A级：Stork出战</a></span>
            <span><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_2.html">MarsTV/</a><a href="http://www.twitch.tv/wcs_gsl">官方英文</A></span>
        </li>   
        <li>
            <span class="contest-time">17:00</span>
            <span class="contest"><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_18.html">GSL S级8强次日</a></span>
            <span><a href="http://s.163.com/13/0827/14/979RCJIT00314QVO_2.html">MarsTV/</a><a href="http://www.twitch.tv/wcs_gsl">官方英文</A></span>
        </li>   
        <li>
            <span class="contest-time">20:00</span>
            <span class="contest">星期五学星际2</span>
            <span>官方</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li><li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
    </ul>
    <!-- 星期 六 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        </li>   
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>   
    </ul>
    <!-- 星期 天 -->
    <ul class="game-table right-silde-none">
        <li class="p-title">
            <span class="contest-time">时间</span>
            <span class="contest">赛事</span>
            <span>直播</span>
        <li>
            <span class="contest-time">0:00</span>
            <span class="contest"><a href="http://s.163.com/13/0920/16/997R1RRP00314QVQ_18.html">WCS欧洲Premier级8强</a></span>
            <span><a href="http://wcs.battle.net/sc2/en">官方</a></span>
        </li>
        
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
        <li>
            <span class="contest-time">&nbsp;</span>
            <span class="contest">&nbsp;</span>
            <span>&nbsp;</span>
        </li>
    </ul> 
</div>
                        
  </body>
</html>